<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/application.css">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/support.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Motivational Posters</title>

</head>

<body>
  <header>
    <h1>Motivational Posters</h1>
  </header>

  <section>
    <h2>Step 1. Select an image</h2>
    <p>Enter the keyword to search for images</p>
    <input id="search-term" type="text">
    <button id="go-search">Go!</button>
    <div id="search-results"></div>
    <div id="branding"></div>
  </section>

<section>
    <h2>Step 2. Add Text</h2>
    <input id="text" type="text" value="Put your meme text in here" >
</section>

<section id="style-image">
  <h2>Step 3. Style It!</h2>
    <div id="workspace">
        <p id="caption"></p>
    </div>
    <div id="controls">
      Left: <input type="number" id="left" value="10">
      Top: <input type="number" id="top" value="10">
      Width: <input type="number" id="width" value="400">
      Size: <input type="number" id="size" value="32">
      Colour: <select id="colour">
                      <option>Red</option>
                      <option>Green</option>
                      <option>White</option>
                      <option>Black</option>
                      <option>Blue</option>
                      <option>Yellow</option>
                      <option>Grey</option>
                      <option>Orange</option>
                  </select>
      Align: <select id="alignment">
                  <option>Left</option>
                  <option>Right</option>
                  <option>Center</option>
                </select>    
    </div>
</section>

</body>
</html>